doctype html
html(lang="en" ng-app="app")
  head
    title Tor Like Network Transfer
    //- link(rel="stylesheet" type="text/css" href="/foundation.min.css")

    link(rel="stylesheet" type="text/css" href="/main.css")
    link(rel="stylesheet" type="text/css" href="/bootstrap.min.css")



    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript", src="/bootstrap.min.js")
    script(type="text/javascript", src= "/angular-ui-router.min.js")
    script(type="text/javascript", src= "/application.js")
    script(type="text/javascript", src= "/routes.js")
    body
      div(ui-view)